# from my.telegram.org/apps
API_ID = 
API_HASH = c
# from @BotFather on telegram
BOT_TOKEN = 8
LOGGER_ID = -1003472842414
# mongo url from cloud.mongodb.com
MONGO_URL = m
OWNER_ID = 8198687024
# pyrogram session from @StringFatherBot on telegram
SESSION = B

