# from my.telegram.org/apps
API_ID = 22526011
API_HASH = cc657170e92bc2e19d2fabe18046cec6
# from @BotFather on telegram
BOT_TOKEN = 8132580723:AAHlRCnSrbcs1AID_U8yvEUY5vxI4WHXXfw
LOGGER_ID = -1003472842414
# mongo url from cloud.mongodb.com
MONGO_URL = mongodb://localhost:27017/anonxmusic
OWNER_ID = 8198687024
# pyrogram session from @StringFatherBot on telegram
SESSION = BAFXuDsABpfIQl0ceWCiCoB-o7GxCqQmjCi2kwn35PeR26P2fz11jelDU2sAdQZeJNKPi>
